*  {
    margin: 0;
    padding:0;
}
body {
    font-size: 20px;
    line-height: 135%;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
    margin-top: 1em;
    margin-left: 1em;
}
p {
    width: 35em;
    font-family: 'Bitter', serif;
    margin-top: 1em;
    margin-left: 1em;

}
section {
    margin: 0 auto;
    width:35em;
}
#copyright {
    font-size: 14px;
    color: grey;
}
